





















<div class="main">
  <!-- hearder section -->
  <div>
    <app-main-header></app-main-header>
  </div>
  <!-- Popup Box -->

  <div class="popup" *ngIf="showPopup">
    <h2>Coming soon</h2>
    <button class="send-btn" (click)="hidePopup()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
        <path
          d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
      </svg>
    </button>
  </div>




  <div class="image-contai">
    <div class="images-wrapp" [class.transition-disabled]="!transitionEnabled"
      [style.transform]="'translateX(' + -currentIndex * 100 + '%)'">
      <img *ngFor="let img of Images" [src]="img" alt="" />
    </div>
    <button class="scroll-btn left-btn" (click)="scrollLeft()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
        <path fill="none" d="M0 0h24v24H0z" />
      </svg>
    </button>
    <button class="scroll-btn right-btn" (click)="scrollRight()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        <path fill="none" d="M0 0h24v24H0z" />
      </svg>
    </button>
  </div>

  <!-- Carousel Section -->
  <div>
    <app-carouselboot></app-carouselboot>
  </div>
  <br />
  <!-- About Us -->


  <div class="box-about-us">
    <div class="content">
      <h1>We are VS Tech Horizon !</h1>
      <br />
      <p>
        A beacon of innovation and excellence. Under the visionary leadership of
        Director Mr. Rushikesh Sule, we are dedicated to pushing the boundaries
        of technology with cutting-edge solutions. Our collaborative and
        inclusive environment nurtures talent, sparks creativity, and celebrates
        diversity.
        <br /><br />
      </p>
      <p>
        We prioritize practical knowledge over theoretical learning. By focusing
        on STEAM—Science, Technology, Engineering, Arts, and Mathematics, we are
        not just educating, we are shaping the future of technology.
        <br /><br />
      </p>
      <p>Join us on this journey of discovery and innovation!</p>

      <button class="btn-1" [routerLink]="'/form'">Contact Us</button>
    </div>
    <img src="../../assets/blue-toned-set-triangular-paper-sheets-with-copy-space.jpg" alt="" />
  </div>

  <!-- Courses Section -->

  <section class="pt-5 pb-5" id="courses">
    <br>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h1 class="mb-5 text-center">Courses</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex align-items-center">
          <!-- <div >
            <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                        <i class="fa fa-arrow-left"></i>
                    </a>
          </div> -->
          <div id="carouselExampleIndicators2" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-4 mb-3 cards">
                    <a [routerLink]="'/courses'">
                    <div class="card">
                      <img class="img-fluid" alt="100%x280" src="../../assets/phy1.jpg">
                      <div class="card-body">
                        <h4 class="card-title text-center">Physics</h4>
                      </div>
                    </div>
                  </a>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card">
                      <img class="img-fluid" alt="100%x280" src="../../assets/chem-boy.jpg">
                      <div class="card-body">
                        <h4 class="card-title text-center">Chemistry</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card">
                      <img class="img-fluid" alt="100%x280" src="../../assets/sci_math4.jpg">
                      <div class="card-body">
                        <h4 class="card-title text-center">Biology</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-4 mb-3">
                    <div class="card">
                      <img class="img-fluid" alt="100%x280" src="../../assets/sci_math5.jpg">
                      <div class="card-body">
                        <h4 class="card-title text-center">Class 5 - Class 10</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card">
                      <img class="img-fluid" alt="100%x280" src="../../assets/sci_math6.jpg">
                      <div class="card-body">
                        <h4 class="card-title text-center">Class 11 - Class 12</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3" style="background-color: white;">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div style="margin: 10px;">
            <a class="btn btn-primary mb-3" href="#carouselExampleIndicators2" role="button" data-slide="next">
              <i class="fa fa-arrow-right"></i>
            </a>
          </div> -->
        </div>
      </div>
    </div>
  </section>


  <!-- Image -->
  <section>
    <img src="../../assets/img/cloud.jpg" alt="" />
  </section>

  <!-- Services Section -->
  <h2 class="h2">Services</h2>
  <section id="services">
    <div class="box-carousel">
      <div class="box-wrapper">
        <div class="box">
          <h1 class="h1">Online Services</h1>
          <div class="box-content">
            <p>
              In today's fast-paced world, online services have become an
              integral part of our daily lives, revolutionizing the way we
              interact, transact, and consume.
            </p>
            <a [routerLink]="'detailed-info-service'" class="read-more">Read More</a>
          </div>
        </div>

        <div class="box">
          <h1 class="h1">Live Classes And Webinars</h1>
          <div class="box-content">
            <p>
              Live classes and webinars have become increasingly popular in recent years,
              especially with the rise of digital technology and the shift towards remote learning and working.
              
            </p>
            <a [routerLink]="'detailed-info-service'" class="read-more">Read More</a>
          </div>
        </div>

        <div class="box">
          <h1 class="h1">Tutoring Services</h1>
          <div class="box-content">
            <p>
              Tutoring services provide personalized educational assistance to students of all ages.
              These services aim to enhance the student's understanding of specific subjects.
            </p>
            <a [routerLink]="'detailed-info-service'" class="read-more">Read More</a>
          </div>
        </div>
        <div class="box">
          <h1 class="h1">Test Preparation Program</h1>
          <div class="box-content">
            <p>
              Test Preparation Program is designed to help individuals prepare for standardized tests, exams,
              or other assessments. These programs can vary widely depending on the type of test being prepared.
            </p>
            <a [routerLink]="'detailed-info-service'" class="read-more">Read More</a>
          </div>
        </div>
        <div class="box">
          <h1 class="h1">Educational Services</h1>
          <div class="box-content">
            <p>
              Educational services encompass a diverse range of offerings aimed at facilitating learning,
              including traditional schooling, online courses, tutoring, and vocational training.
              
            </p>
            <a [routerLink]="'detailed-info-service'" class="read-more">Read More</a>
          </div>
        </div>
        <div class="box">
          <h1 class="h1">Customized Learning Plans</h1>
          <div class="box-content">
            <p>
              "Customized learning plans tailor education to individual needs,
              adapting content and pace to optimize understanding and engagement."
            </p>
            <a [routerLink]="'detailed-info-service'" class="read-more">Read More</a>
          </div>
        </div>
        <div class="box">
          <h1 class="h1">Learning Management System</h1>
          <div class="box-content">
            <p>
              A Learning Management System (LMS) is a software application used to administer, document,
              track, report, and deliver educational resources. It provides a centralized platform.
            </p>
            <a [routerLink]="'detailed-info-service'" class="read-more">Read More</a>
          </div>
        </div>
        <div class="box">
          <h1 class="h1">Student Support Services</h1>
          <div class="box-content">
            <p>
              "Student Support Services provide academic assistance and resources to ensure student success.
              From tutoring to counseling, these services aim to address students' various needs and challenges."
            </p>
            <a [routerLink]="'detailed-info-service'" class="read-more">Read More</a>
          </div>
        </div>
        <div class="box">
          <h1 class="h1">Progress Tracking and Reporting</h1>
          <div class="box-content">
            <p>
              Progress tracking involves monitoring project milestones and tasks to ensure they're completed on
              schedule. Reporting summarizes this progress, providing insights to stakeholders on project status.
            </p>
            <a [routerLink]="'detailed-info-service'" class="read-more">Read More</a>
          </div>
        </div>
        <div class="box">
          <h1 class="h1">Community Engagement</h1>
          <div class="box-content">
            <p>

              Community engagement involves active participation and collaboration within a community to address issues
              and
              achieve common goals.
            </p>
            <a [routerLink]="'detailed-info-service'" class="read-more">Read More</a>
          </div>
        </div>
        <div class="box">
          <h1 class="h1">Corporate Training and Professional Development</h1>
          <div class="box-content">
            <p>
              "Corporate training enhances employee skills, fostering professional development and organizational growth."
            </p>
            <a [routerLink]="'detailed-info-service'" class="read-more">Read More</a>
          </div>
        </div>
        <div class="box">
          <h1 class="h1">Partnership and Accreditation</h1>
          <div class="box-content">
            <p>
              Partnership: Collaborative alliances driving innovation and growth.
              Accreditation: Recognizing excellence through industry-approved standards.
            </p>
            <a [routerLink]="'detailed-info-service'" class="read-more">Read More</a>
          </div>
        </div>
        <div class="box">
          <h1 class="h1">Diversity and Inclusion Initiatives</h1>
          <div class="box-content">
            <p>
              Diversity and inclusion initiatives aim to create environments where every individual feels valued
               and respected, regardless of their background, identity, or perspective.
            </p>
            <a [routerLink]="'detailed-info-service'" class="read-more">Read More</a>
          </div>
        </div>
        <div class="box">
          <h1 class="h1">Success Stories and Testimonials</h1>
          <div class="box-content">
            <p>
              "Read inspiring success stories and testimonials from our satisfied clients, showcasing
               how our products/services have transformed their lives and businesses."
            </p>
            <a [routerLink]="'detailed-info-service'" class="read-more">Read More</a>
          </div>
        </div>
        <div class="box">
          <h1 class="h1">FAQs and Support Documentation</h1>
          <div class="box-content">
            <p>
              "Find answers to commonly asked questions and access comprehensive support documentation to troubleshoot issues effectively."
            <a [routerLink]="'detailed-info-service'" class="read-more">Read More</a>
          </div>
        </div>
        <div class="box">
          <h1 class="h1">Summer Camps and Workshops</h1>
          <div class="box-content">
            <p>
              "Summer camps and workshops offer exciting opportunities for learning and adventure, catering to 
              diverse interests and ages."
            </p>
            <a [routerLink]="'detailed-info-service'" class="read-more">Read More</a>
          </div>
        </div>
        <div class="box">
          <h1 class="h1">Project Kits and Supplies</h1>
          <div class="box-content">
            <p>
              "Project kits and supplies provide everything you need for hands-on learning and creative endeavors.
               From DIY crafts to educational experiments, these kits offer convenience and inspiration in a 
               compact package."
            </p>
            <a [routerLink]="'detailed-info-service'" class="read-more">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Information -->
  <div class="info">
    <h2>Our Partners</h2>
    <div class="logo-container">
      <div class="logos">
        <img src="../../assets/img/download (1).jpg" alt="">
        <img src="../../assets/img/download (2).jpg" alt="">
        <img src="../../assets/img/download (3).jpg" alt="">
        <img src="../../assets/img/download.jpg" alt="">
        <img src="../../assets/img/images (1).png" alt="">
        <img src="../../assets/img/images.png" alt="">
      </div>
    </div>
    <button class="btn-8" [routerLink]="'/form'">Contact Us</button>
  </div>

  <div>
    <h2 class="Courses">What Coustomer Says</h2>
  </div>

  <!-- Feedback -->
  <div class="box-carousel-1">
    <div class="box-wrapper-1" #boxWrapper>
      <div class="boxx" *ngFor="let item of items">
        <h3 class="h3">superb work!</h3>
        <div class="box-content-1">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum,
            odit?.
          </p>
        </div>
      </div>
    </div>

    <div class="arrow-container">
      <div class="arrow left-arrow" (click)="previousFeed()">&larr;</div>
      <div class="arrow right-arrow" (click)="nextFeed()">&rarr;</div>
    </div>
  </div>

  <div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
      <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
      <path
        d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
    </svg>
  </div>
</div>
<br /><br /><br />
<app-whatsapp></app-whatsapp>
<app-chatbot></app-chatbot>
<app-footer></app-footer>