<app-main-header></app-main-header>
<div>
    <h2>Contact</h2>
</div>

<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th scope="col">Contact Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Subject</th>
            <th scope="col">Message</th>
            <th scope="col">Submit Date & Time</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let conatact of contacts">
            <th>{{conatact.contactId}}</th>
            <td>{{ conatact.name }}</td>
            <td>{{conatact.email }}</td>
            <td>{{conatact.phone }}</td>
            <td>{{conatact.subject }}</td>
            <td>{{conatact.message }}</td>
            <td>{{conatact.submitDate}}</td>
        </tr>
    </tbody>
</table>

<app-footer></app-footer>


<!-- <div *ngFor="let resumess of resumes">
    <p>Name: {{ resumess.firstName }}</p>
    <p>Email: {{ resumess.email }}</p>
    <p>Resume: {{resumess.resume}}</p>
   <p> <a href="http://localhost:3006{{resumess.resume}}">View</a></p>
  </div> -->