<section class="pt-5 pb-5" style="background-color: black">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex align-items-center">
        <div style="margin: 10px">
          <a
            class="btn btn-primary mb-3 mr-1"
            href="#carouselExampleIndicators2"
            role="button"
            data-slide="prev"
          >
            <i class="fa fa-arrow-left"></i>
          </a>
        </div>

        <div
          id="carouselExampleIndicators2"
          class="carousel slide carousel-fade"
          data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item-active">
              <div class="row">
                <div class="col-md-4 mb-3 cards">
                  <div class="card">
                    <img
                      class="img-fluid"
                      alt="100%x280"
                      src="/assets/phy1.jpg"
                    />
                    <div class="card-body">
                      <h4 class="card-title text-center">Know more...</h4>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img
                      class="img-fluid"
                      alt="100%x280"
                      src="/assets/chem-boy.jpg"
                    />
                    <div class="card-body">
                      <h4 class="card-title text-center">know more...</h4>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img
                      class="img-fluid"
                      alt="100%x280"
                      src="/assets/sci_math4.jpg"
                    />
                    <div class="card-body">
                      <h4 class="card-title text-center">Know more...</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img
                      class="img-fluid"
                      alt="100%x280"
                      src="/assets/sci_math5.jpg"
                    />
                    <div class="card-body">
                      <h4 class="card-title text-center">know more...</h4>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img
                      class="img-fluid"
                      alt="100%x280"
                      src="/assets/sci_math6.jpg"
                    />
                    <div class="card-body">
                      <h4 class="card-title text-center">Know more...</h4>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img
                      class="img-fluid"
                      alt="100%x280"
                      src="/assets/image/online-course1.jpg"
                    />
                    <div class="card-body">
                      <h4 class="card-title text-center">Know more...</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="margin: 10px">
          <a
            class="btn btn-primary mb-3"
            href="#carouselExampleIndicators2"
            role="button"
            data-slide="next"
          >
            <i class="fa fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
